%div{data:{hook: 'author'}}
  .row
    .left-block.col-md-4.col-sm-5.text-center
      - if @author.try(:images)
        - image = @author.images.first
        = link_to image_tag(image.attachment.url(:author)), image.attachment.url(:large), class: 'btn fancybox'

    .right-block.col-md-8.col-sm-7.rte
      %h1.text-uppercase
        = @author.name
      %h5
        = author_dates(@author)
      %p= @author.content
  .row
    &nbsp;
%section.home_product_list_2
  .text-center
    .container
      %h4.title_block_home.page-subheading
        #{@author.name} works
      #products.row
        - if @author.products.blank?
          %p There are no works by this artist in stock at the moment
        - @author.products.each do |product|
          = render partial: 'spree/products/item_small', locals: {product: product}
%section.home_product_list_2
  .text-center
    .container
      %h4.title_block_home.page-subheading
        #{@author.name} videos
      #author_videos.row
        - if @author.videos.blank?
          %h5.text-uppercase There are no videos by this artist

        - else
        = content_tag(:div, id: 'video-thumbnails', class: 'spree-video-thumbnails-md') do
          - @author.videos.map(&:youtube_data).each do |video|
            .col-sm-4
              = link_to "https://www.youtube.com/watch?v=#{video.id}", title: video.title, class: 'fancyYoutube video-overview-thumbnail', target: '_blank', data: {'video-id' => video.id}, remote: false do
                = image_tag(spree_video_thumb_uri(video), class: 'img-responsive')
