%div{data:{hook: 'author'}}
  .row
    .left-block.col-md-4.col-sm-5.text-center
      - if @author.try(:images)
        - image = @author.images.first
        = link_to image_tag(image.attachment.url(:author)), image.attachment.url(:large), class: 'btn fancybox'

    .right-block.col-md-8.col-sm-7.rte
      %h1.text-upper
        = @author.name
      %h5
        = author_dates(@author)
      %p= @author.content
  .row
    &nbsp;
%section.home_product_list_2
  .text-center
    .container
      %h4.title_block_home.page-subheading
        #{@author.name} works
      #products.row
        - if @author.products.blank?
          %p There are no works by this artist in stock at the moment
        - @author.products.each do |product|
          = render partial: 'spree/products/item_small', locals: {product: product}