.col-sm-6
  .sitebox
    .sitebox__title
      %h1= Spree.t(:create_a_new_account)
    = form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f|
      .inputs-average{"data-hook" => "signup_inside_form"}
        = render :partial => 'spree/shared/user_form', :locals => { :f => f }
        .form-group
          = f.submit Spree.t(:create), :class => 'btn btn--style-default'
    .text-center
      = Spree.t(:or)
      = link_to Spree.t(:login_as_existing), spree.login_path
    %div{"data-hook" => "login_extras"}
