= render :partial => 'spree/shared/error_messages', :locals => { :target => @user }
%h1= Spree.t(:registration)
#registration.row{"data-hook" => ""}
  #account
    = render :partial => 'new_user'
  - if Spree::Config[:allow_guest_checkout]
    .col-sm-6
      .sitebox
        .sitebox__title
          %h1= Spree.t(:guest_user_account)
        - if flash[:registration_error]
          .flash.error= flash[:registration_error]
        = form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f|
          .inputs-average
            .form-group
              = f.email_field :email, :class => 'form-control title', :placeholder => Spree.t(:email)
            .form-group
              = f.submit Spree.t(:continue), :class => 'btn btn--style-default'
