- @body_id = 'product-details'
- cache cache_key_for_product do
  -#%aside
    #left_column.left_column.sidebar.col-sm-4.col-md-3.col-xs-12
      = render partial: 'spree/products/properties'
      = render partial: '/shared/products_best_sellers'
  #center_column.center_column.col-xs-12.col-sm-12.col-md-12
    - url = spree.product_url(@product, taxon_id: @taxon.try(:id))
    %div{itemscope: '', itemtype: 'http://schema.org/Product'}
      %meta{content: url, itemprop: 'url'}/
      %meta{content: product_image_src(@product), itemprop: 'image'}/
      .primary_block
        .row
          #product-images.product-left-column.col-xs-12.col-sm-12.col-md-7{"data-hook" => "product_images"}
            #main-image2.panel.panel-default{"data-hook" => ""}
              .panel-body.text-center
                - product_image_orig = product_image_src(@product, :original)
                %a.btn.fancybox.fancy-no-hide{title: @product.name, href: product_image_orig}
                  = render :partial => 'image'
            #thumbnails{"data-hook" => ""}
              = render :partial => 'thumbnails'
          .col-xs-12.col-sm-12.col-md-5
            .product-center-column
              %h1{:itemprop => "name"}= @product.name
              %h5.brand{:itemprop => "brand"}
                %span Year:
                %a{:href => "/products/years?q=", :title => ""}= product_property(@product_properties, :year)
              .product-description.rte{:itemprop => "description"}
                %p= product_description_short(@product)
              = render partial: 'products/info_block', locals: {product: @product}
            -#.product-right-column
              %div{:itemprop => "offers", :itemscope => "", :itemtype => "http://schema.org/Offer"}
                %meta{:content => @product.currency, :itemprop => "priceCurrency"}/
                %link{:href => "http://schema.org/InStock", :itemprop => "availability"}/
                -#= render partial: 'shared/deal_clock'
                - if @product.master.can_supply?
                  .availability
                    %p.available.instock Available
                -#= render partial: 'cart_form'
                -#= render partial: 'products/apollo_cart'
              .wishlist
                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                  %i.fa.fa-heart
                  %span Add to Wishlist
              .line-product
              #product-detail-image
                .box_image_pd
                  = image_tag 'img_product_detail.png', class: 'img-responsive'

        = render 'video', product: @product
      -#= render partial: 'shared/products_related'