%section#apollo_menucanvas
  %ul
    %li
      %a{href: spree.root_path, target: '_self', title: Spree::t('home')}
        %span= Spree::t('home')
    %li.parent.active
      %a.has-category{href: products_path, title: Spree.t('category')}
        %span #{Spree.t('category')}
      %ul
        - taxon_roots = Spree::Taxon.roots
        - cache(['taxon-roots', taxon_roots.maximum(:updated_at).to_i].join('-')) do
          - taxon_roots.each do |taxon_root|
            %li
              = link_to seo_url(taxon_root) do
                %span= taxon_root.name
              %ul
                - taxon_root.children.each do |taxon|
                  %li
                    %span= link_to truncate(taxon.name, length: 22), seo_url(taxon)
    %li
      %a{href: spree.authors_path, target: '_self', title: Spree.t('menu.artists')}
        %span #{Spree.t('menu.artists')}
    %li
      %a{href: spree.videos_path,  target: '_self', title: Spree.t('menu.library')}
        %span #{Spree.t('menu.library')}
    %li
      %a{href: '/pages/contact_us', target: '_self', title: Spree::t('contact')}
        %span #{Spree::t('contact')}
:javascript
  $(function() {
    $('#apollo-menucanvas').mmenu({
      extensions	: [ 'effect-slide', 'pageshadow' ],
      header		: true,
      searchfield	: true
    });
  });
