%h1.taxon-title.text-upper= @taxon.name
- content_for :sidebar do
  = render partial: 'spree/shared/taxonomies'
  = render partial: 'spree/shared/authors'
  = render partial: 'spree/shared/filters' if @taxon.leaf?
%div{"data-hook" => "taxon_products"}
  -#= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon }
  = render partial: 'spree/shared/products_big', locals: { products: @products, taxon: @taxon }
- unless params[:keywords].present?
  %div{"data-hook" => "taxon_children"}
    - cache [I18n.locale, @taxon] do
      = render partial: 'taxon', collection: @taxon.children
