= render partial: 'spree/admin/shared/author_tabs', locals: { current: :images }
= render partial: 'spree/admin/shared/error_messages', locals: { target: @author }
- content_for :page_title do
  = Spree.t(:new_image)
= form_for [:admin, @author_image], html: { multipart: true } do |f|
  %fieldset{"data-hook" => "new_image"}
    = render partial: 'form', locals: { f: f }
    .form-actions{"data-hook" => "buttons"}
      = button Spree.t('actions.create'), 'save'
      %span.or= Spree.t(:or)
      = button_link_to Spree.t('actions.cancel'), spree.admin_author_images_url(@author), icon: 'delete', id: 'cancel_link'