%footer#footer
  .footer-container
    -#%section#footertop.footer-top
      .container
        .footer_top_wrap
          .row
            .col-xs-12.col-sm-12
              .block.img_top_footer.text-center
                = logo
              .image_top_footer_description.text-center
                %p
                  Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare
                  quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
                  seacula quarta decima et quinta decima videntur parum clari, fiant sollemnes in futurum.
    %section#footercenter.footer-center
      .container
        .footer-center-wrap
          .row
            .col-md-3.col-sm-3.col-xs-12
              .block.footer-block.footerAccordion.box-contact-info
                %h4.title_block get in touch
                %ul.list-unstyled.block_content{:style => ""}
                  %li.phone
                    %span #{Spree::Config[:company_phone_tol]}
                  %li.phone
                    %span #{Spree::Config[:company_phone]}
                  %li.address
                    %span #{Spree::Config[:company_address]}
                  %li.email.is-breakable
                    %span #{Spree::Config[:company_email]}
                  %li.item
                    %a{:href => "careers", :title => "Careers "} Careers

            -#.col-md-2.col-sm-2.col-xs-12.col-sp-12
              #block_links_footer_1.block.footer-block.footerAccordion
                %h4.title_block support
                .block_content{:style => ""}
                  -#%ul.toggle-footer.list-group.list-unstyled{:style => ""}
                    -#%li.item
                      %a{:href => "#!", :title => "Returns"} Returns
                    -#%li.item
                      %a{:href => "/pages/faq", :title => "F.A.Q"} F.A.Q
                    -#%li.item
                      %a{:href => "#!", :title => "Shaipping Policy"} Shaipping Policy
                    -#%li.item
                      %a{:href => "/pages/search_terms", :title => "Search Terms"} Search Terms
                    %li.item
                      %a{:href => "/pages/contact_us", :title => "Contact Us"} Contact Us
            .col-md-3.col-sm-3.col-xs-12
              #block_links_footer_2.block.footer-block.footerAccordion
                %h4.title_block information
                .block_content{:style => ""}
                  %ul.list-group.list-unstyled{:style => ""}
                    %li.item
                      %a{:href => "about-us", :title => "About Us "} About Us
                    %li.item
                      %a{:href => "/pages/contact_us", :title => "Contact Us"} Contact Us
                    %li.item
                      %a{:href => "privacy-policy", :title => "Privacy Policy  "} Privacy Policy
                    %li.item
                      %a{:href => "terms&conditions", :title => "Terms & Conditions"}
                        Terms &
                        Conditions
                    %li.item
                      %a{:href => "ordering", :title => "Ordering  "} Ordering
                    %li.item
                      %a{:href => "shipping&delivery", :title => "Shipping & Delivery"}
                        Shipping &
                        Delivery
                    -#%li.item
                      %a{:href => "/pages/help", :title => "Help"} Help
                    -#%li.item
                      %a{:href => "/pages/frontpage", :title => "Orders and Returns"}
                        Orders and
                        Returns
                    -#%li.item
                      %a{:href => "#!", :title => "Site Map"} Site Map
            .col-md-3.col-sm-3.col-xs-12
              #block_links_footer_3.block.footer-block.footerAccordion
                %h4.title_block my account
                .block_content{:style => ""}
                  %ul.list-group.list-unstyled{:style => ""}
                    %li.item
                      %a{:href => "/signup", :title => "Create New Account"} Create New Account
                    %li.item
                      %a{:href => "/login", :title => "Access My Account"} Access My Account
                    -#%li.item
                      %a{:href => "#!cart", :title => "View Cart"} View Cart
                    -#%li.item
                      %a{:href => "#!pages/wish-list", :title => "My Wishlist"} My Wishlist
                    -#%li.item
                      %a{:href => "#!", :title => "Track My Order"} Track My Order
                    %li.item
                      %a{:href => "#", :title => "Track My Order"} Track My Order
            -#.col-md-3.col-sm-3.col-xs-12.col-sp-12
              #newsletter_block.block.footer-block.footerAccordion.inline
                %h4.title_block Newsletter
                .block_content{:style => ""}
                  = render partial: 'spree/shared/guest_subscription'
            .col-md-3.col-sm-3.col-xs-12
              #block_links_footer_3.block.footer-block.footerAccordion
                %h4.title_block follow us
                .block_content{:style => ""}
                  %ul.toggle-footer.list-group.list-unstyled{:style => ""}
                    %li.social_network
                      %span.facebook.icon
                        = link_to(Spree::Config[:facebook], target: "_blank")  do
                          = image_tag('fb.svg', size: "45x45", alt: "facebook")
                      %span.twitter.icon
                        = link_to(Spree::Config[:twitter], target: "_blank") do
                          = image_tag('tw.svg', size: "45x45", alt: "twitter")
                      %span.instagram.icon
                        = link_to(Spree::Config[:instagram], target: "_blank") do
                          = image_tag('inst.svg', size: "45x45", alt: "instagram")
    %section#footernav.footer-nav
      .container
        #powered.powered.row.wow.animated{:style => "animation-name: none;"}
          .col-xs-offset-3.col-xs-6.col-md-12.col-md-offset-0
            .text-center.text-footer
              © Copyright 2016 EliteShopping.
              %a{:href => "//sumatosoft.com", :rel => "nofollow", :target => "_blank"} Powered by SumatoSoft
          -#.col-lg-6.col-md-6.col-sm-6.col-xs-6.col-sp-12
            .payment-block.footer-block
              #block_links_footer_.footer-block.footerAccordion
                %ul.list-unstyled
                  %li.item.payment-item
                    %a.icon-social.visa{:href => "#!#", :title => "Visa"}
                      %span.fa.fa-cc-visa  
                  %li.item.payment-item
                    %a.icon-social.paypal{:href => "#!#", :title => "Paypal"}
                      %span.fa.fa-cc-paypal  
                  %li.item.payment-item
                    %a.icon-social.mastercard{:href => "#!#", :title => "mastercard"}
                      %span.fa.fa-cc-mastercard  
                  %li.item.payment-item
                    %a.icon-social.credit-card{:href => "#!#", :title => "credit card "}
                      %span.fa.fa-cc-amex  
                  %li.item.payment-item
                    %a.icon-social.stripe{:href => "#!#", :title => "stripe"}
                      %span.fa.fa-cc-stripe  
                  %li.item.payment-item
                    %a.icon-social.stripe{:href => "#!#", :title => "stripe"}
                      %span.fa.fa-cc-discover  
                  %li.item.payment-item
                    %a.icon-social.stripe{:href => "#!#", :title => "stripe"}
                      %span.fa.fa-cc  


      #errorJs.modal.fade{:style => "display: none;"}
        .modal-dialog
          .modal-content
      #loading.loading_site{:style => "display: none;"}
      = render partial: 'shared/products_quick_view'
#AjaxifyModal.ajaxcart.ajaxcartModal
  %button.ajaxcartClose{:title => "Close Cart", :type => "button"} Close Cart
  #AjaxifyCart
.ajaxcartOverlay
