= form_tag spree.products_path, :method => :get, id: 'searchbox', class: 'popup-content' do
  .group-leosearch.clearfix
    - @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots
    - cache(cache_key_for_taxons) do
      = select_tag :taxon,                                                                        |
        options_for_select([[Spree.t(:all_categories), '']] + @taxons.map {|t| [t.name, t.id]},  |
        @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon',                            |
        class: "filter-top-collection", id: 'collection-select-1'                                 |
    :javascript
      $(document).ready(function () {
          $("#search_block_top").each(function () {
              $("#search-icon").click(function () {
                  $("#searchbox").toggleClass("show");
                  $(this).toggleClass("active");
              });
          });
      });
    #search_block_top
      %span#search-icon.zmdi.zmdi-search{:title => "Search"}
      %div
        %input#search_query_top.search_query.form-control{"aria-label" => "#{Spree.t(:search)} ...", autocomplete: :off, name: :keywords, placeholder: "#{Spree.t(:search)} ...", type: :search, value: params[:keywords]}/
        %button#search_button.btn.btn-sm{:type => "submit"}
          %span
            %i.fa.fa-search
          %span.fallback-text #{Spree.t(:search)}
      #ap-ajax-search.hidden-sm.hidden-xs
        %ul.list-unstyled.aps-results