- product ||= nil; return '' unless product
.more_info_block
  %ul.nav.nav-tabs.tab-info.page-product-heading
    %li.active
      %a{data: {toggle: 'tab'}, href: '#tab_product'}= Spree::t('description')
    %li
      %a{data: {toggle: 'tab'}, href: '#tab_author'}= Spree::t('about_the_artist')
  .tab-content
    %section#tab_product.tab-pane.page-product-box.active
      .product-description.rte
        != simple_format(product.description)
    %section#tab_author.tab-pane.page-product-box
      - if product.author
        .product-description.rte
          %h5.brand #{product.author.name} ( #{product.author.year_of_birth} - #{product.author.year_of_death} )
          .is-breakable.artist-description
            != simple_format(product.author.content)
