-#center_column.center_column
  %h4.title_block_home.page-subheading browse categories
  .content_scene_cat
    .content_scene_cat_bg.clearfix.row
      - taxon_roots = Spree::Taxon.all
      - cache(["taxon-roots", taxon_roots.maximum(:updated_at).to_i].join('-')) do
        - taxon_roots.each do |taxon_root|
          - if taxon_root.show_on_home
            .img_category.col-sm-4
              = link_to seo_url(taxon_root), class: 'img_category_link' do
                %img.img-responsive{alt: taxon_root.name, src: taxon_root.icon.url(:home)}/
                .title_img_category
                  = taxon_root.name



#center_column.center_column
  .content_scene_cat
    .content_scene_cat_bg.clearfix.row
      - cache(["taxon-roots", @taxon_roots.maximum(:updated_at).to_i].join('-')) do
        - @taxon_roots.each do |taxon_root|
          - if taxon_root.show_on_home
            .col-sm-3
              .taxon-block-1.img-taxons
                = link_to seo_url(taxon_root), class: 'img_category_link' do
                  .taxon-block-name
                    = taxon_root.name
              .img-taxons
                - product = taxon_root.children.sample.products.sample
                - if product.present?
                  %img.img-responsive{alt: product.name, src: product.images.first.attachment.url}/
                  .title_img_category
                    Paiting by #{product.author.try(:name)}
              .img-taxons
                - product = taxon_root.children.sample.products.sample
                - if product.present?
                  %img.img-responsive{alt: product.name, src: product.images.first.attachment.url}/
                  .title_img_category
                    Paiting by #{product.author.try(:name)}
