-#- content_for :sidebar do
  %div{"data-hook" => "homepage_sidebar_navigation"}
    = render :partial => 'spree/shared/taxonomies'
%section.video
  .container
    - cache %w(product-videos, all) do
      - if @videos
        / 16:9 aspect ratio
        .row
          .col-md-1
          .col-md-10#product-videos
            .embed-responsive.embed-responsive-16by9.spree-embed-video= render 'spree/products/video_player', :video => @videos.first
          .col-md-1
%section.video-thumbnails
  .text-center
    .container
      = render partial: 'spree/home/video_thumbnails', locals: { videos: @videos }
      .line-product
%section.root-taxons
  .text-center
    .container
      = render partial: 'root_taxons'

-#%section#columns.columns-container{"data-hook" => "homepage_products"}
  .block-title-productlist.text-center
    .container
      %h4.title_block_home.page-subheading
        popular in store
      .block_des_home
        %p.des_productlist.block_des_home
          Claritas est etiam processus dynamicus, qui sequitur mutationem
          consuetudium lectorum. Mirum est notare quam littera gothica putamus panteposuerit litterarum formas
          humanitatis
  - cache(cache_key_for_products) do
    = render :partial => 'spree/shared/products', :locals => { :products => @products }
-#%section.block-home-banner.container-fluid
  .row
    .widget-banner.block
      .block_content
        .image-box
          .img-banner.effect
            %a{:href => "!#"}
              %img.img-responsive{:alt => "Adv Banner", :src => "./ap_rojo_files/home_banner.png"}/
          .des_banner_home
            .container
              .row
                .content_baner_home.text-center
                  .text_first top wanted items of year
                  %h3.title_banner_home.title_block_home mega discount
                  %p
                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
                    notare quam littera gothica putamus panteposuerit litterarum formas humanitatis
%section.home_product_list_2
  .text-center
    .container
      %h4.title_block_home.page-subheading
        resently added items
      -#.block_des_home
        %p.des_productlist.block_des_home
          Claritas est etiam processus dynamicus, qui sequitur mutationem
          consuetudium lectorum. Mirum est notare quam littera gothica putamus panteposuerit litterarum formas
          humanitatis
      - cache(cache_key_for_products) do
        = render :partial => 'spree/shared/products', :locals => { :products => @products.last(4) }