%hr
#search_videos_block
  = form_tag spree.videos_path, :method => :get, id: 'searchbox-videos', class: 'popup-content-1' do
    .search_with_categories.clearfix
      = select_tag :category, options_for_select(%w(author title),               |
        params[:category]), 'aria-label' => 'Taxon', class: "category_search_dd", id: 'collection-select-1' |

      %input#search_query_videos.category_search_text.search-videos-query{aria_label: "#{Spree.t(:search)} ...", autocomplete: :off, name: :keywords, placeholder: "#{Spree.t(:search)} ...", type: :search, value: params[:keywords]}

      %button#search_button-1.btn.category_search_button{type: 'submit'}
        %span
          %i.fa.fa-search
        %span.fallback-text #{Spree.t(:search)}
  .form-horizontal
    %label{:for => "SortBy"} Sort by
    %select#video-sort-by{:name => "SortBy"}
      %option{value: 'date_desc'} Date, new to old
      %option{value: 'date'} Date, old to new
      %option{value: 'artist'} Artist, A-Z
      %option{value: 'artist_desc'} Artist, Z-A
      %option{value: 'title'} Title, A-Z
      %option{value: 'title_desc'} Title, Z-A
:javascript
  $(document).ready(function(){
    var sortByValue = window.location.search.substring(1).split('sortby=')[1];
    if(sortByValue) {
      $("#video-sort-by").val(sortByValue);
    }

    $(document).on('change','#video-sort-by', function(e) {
      var url = '/library?sortby=' + $(this).val()
      window.location = url
    });

    $(document).on('change','.category_search_dd', function(e) {
      $(".search-videos-query").typeahead('destroy');
      update_search_query();
    });

    function update_search_query(){
      var category = $('.category_search_dd').val();
      var url = '#{items_videos_path(category: '_category_')}'.replace('_category_', category);
      //console.log(url);
      $.get(url, function(data){
        //console.log(data);
        $(".search-videos-query").typeahead({ source: data });
      }, 'json');
    };
    update_search_query();
  });
%hr
