%h1.taxon-title.text-upper= Spree.t('Videos')
- content_for :head do
  - if @videos.respond_to?(:total_pages)
    = rel_next_prev_link_tags @videos
%div{"data-hook" => "videos_list"}
- @videos = Spree::Video.all
- if @videos.any?
  #videos.row{"data-hook" => ""}
    = content_tag(:div, id: 'video-thumbnails', class: 'spree-video-thumbnails-md') do
      - @videos.map(&:youtube_data).each do |video|
        .col-md-3
          - product_video = @videos.select{|v| v.youtube_ref == video.id}.try(:first)
          = link_to image_tag(video.thumbnail_url), "https://www.youtube.com/watch?v=#{video.id}", title: video.title, class: 'fancyYoutube', target: '_blank', data: {'video-id' => video.id}, remote: false
- if @videos.respond_to?(:total_pages)
  = paginate @videos, theme: 'twitter-bootstrap-3'