/ = link_to 'Back', videos_path
%p#notice= notice

%h1.text-uppercase
  #{@video.title}

.video-element
  .embed-responsive.embed-responsive-16by9
    -#=! @video.embed_html({class: 'video-player', id: 'my-video', width: '425', height: '350', frameborder: '1'})
    != @video.embed_html
/ = image_tag(@video.thumbnail_url)

%h5.text-uppercase Description:
#{simple_format(@video.description)}

%h5.text-uppercase Views:
#{@video.views}
