:ruby
  if simple_current_order.nil? or simple_current_order.item_count.zero?
    text = "<span class='glyphicon glyphicon-shopping-cart'></span> #{Spree.t('cart')}: (#{Spree.t('empty')})"
    css_class = 'empty'
  else
    text = "<span class='glyphicon glyphicon-shopping-cart'></span> #{Spree.t('cart')}: (#{simple_current_order.item_count})  <span class='amount'>#{simple_current_order.display_item_total.to_html}</span>"
    css_class = 'full'
  end

= link_to text.html_safe, spree.cart_path, :class => "cart-info1 #{css_class}"